<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".notifications.DebugProactiveMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.heartline.ai.DEBUG_PROACTIVE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
